<!-- Ligne 1 -->
<div class="container">
<div class="row g-0">
<button type="button" class="btn btn-light col-2 m-0" data-bs-toggle="modal" data-bs-target="#exampleModal40">
 <img src="assets/images/dir1/dir11/dir115/DSC04334.JPG" class="col-12 m-0 p-0">
</button>
<button type="button" class="btn btn-light col-2 m-0" data-bs-toggle="modal" data-bs-target="#exampleModal41">
 <img src="assets/images/dir1/dir11/dir115/DSC04329.JPG" class="col-12 m-0 p-0">
</button>
      <button type="button" class="btn btn-light col-2" data-bs-toggle="modal" data-bs-target="#exampleModal42">
 <img src="assets/images/dir1/dir11/dir115/DSC04330.JPG" class="col-12 m-0 p-0">
</button>
      <button type="button" class="btn btn-light col-2" data-bs-toggle="modal" data-bs-target="#exampleModal43">
 <img src="assets/images/dir1/dir11/dir115/DSC04331.JPG" class="col-12 m-0 p-0">
</button>
      <button type="button" class="btn btn-light col-2" data-bs-toggle="modal" data-bs-target="#exampleModal44">
 <img src="assets/images/dir1/dir11/dir115/DSC04332.JPG" class="col-12 m-0 p-0">
</button>
      <button type="button" class="btn btn-light col-2" data-bs-toggle="modal" data-bs-target="#exampleModal45">
 <img src="assets/images/dir1/dir11/dir115/DSC04333.JPG" class="col-12 m-0 p-0">
</button>
      </div>
<div class="modal fade" style="transition:  opacity 1.0s ease-in-out;" id="exampleModal40" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
      </div>
      <div class="modal-body"><img src="assets/images/dir1/dir11/dir115/DSC04334.JPG" class="col-12 g-0"></div>
      </div>
  </div>
</div>
<div class="modal fade" style="transition:  opacity 1.0s ease-in-out;" id="exampleModal41" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel01">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
      </div>
      <div class="modal-body"><img src="assets/images/dir1/dir11/dir115/DSC04329.JPG" class="col-12 g-0"></div>
      </div>
  </div>
</div>
<div class="modal fade" style="transition:  opacity 1.0s ease-in-out;" id="exampleModal42" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel02">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
      </div>
      <div class="modal-body"><img src="assets/images/dir1/dir11/dir115/DSC04330.JPG" class="col-12 g-0"></div>
      </div>
  </div>
</div>
<div class="modal fade" style="transition:  opacity 1.0s ease-in-out;"  id="exampleModal43" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel03">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
      </div>
      <div class="modal-body"><img src="assets/images/dir1/dir11/dir115/DSC04331.JPG" class="col-12 g-0"></div>
      </div>
  </div>
</div>
<div class="modal fade" style="transition:  opacity 1.0s ease-in-out;"  id="exampleModal44">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel04">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
      </div>
      <div class="modal-body"><img src="assets/images/dir1/dir11/dir115/DSC04332.JPG" class="col-12 g-0"></div>
      </div>
  </div>
</div>
<div class="modal fade" style="transition:  opacity 1.0s ease-in-out;" id="exampleModal45">
  <div class="modal-dialog">
    <div class="modal-content modal-lg">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel05">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
      </div>
      <div class="modal-body"><img src="assets/images/dir1/dir11/dir115/DSC04333.JPG" class="col-12 g-0"></div>
      </div>
  </div>
</div>
</div>

