
 <!-- Ligne2 -->
<div class="container">
<div class="row g-0">
<button type="button" class="btn btn-light col-2 m-0" data-bs-toggle="modal" data-bs-target="#exampleModal10">
 <img src="assets/images/dir1/dir11/dir115/DSC04207.JPG" class="col-12 m-0 p-0">
</button>
<button type="button" class="btn btn-light col-2 m-0" data-bs-toggle="modal" data-bs-target="#exampleModal11">
 <img src="assets/images/dir1/dir11/dir115/DSC04251.JPG" class="col-12 m-0 p-0">
</button>
      <button type="button" class="btn btn-light col-2" data-bs-toggle="modal" data-bs-target="#exampleModal12">
 <img src="assets/images/dir1/dir11/dir115/DSC04311.JPG" class="col-12 m-0 p-0">
</button>
      <button type="button" class="btn btn-light col-2" data-bs-toggle="modal" data-bs-target="#exampleModal13">
 <img src="assets/images/dir1/dir11/dir115/DSC04312.JPG" class="col-12 m-0 p-0">
</button>
      <button type="button" class="btn btn-light col-2" data-bs-toggle="modal" data-bs-target="#exampleModal14">
 <img src="assets/images/dir1/dir11/dir115/DSC04313.JPG" class="col-12 m-0 p-0">
</button>
      <button type="button" class="btn btn-light col-2" data-bs-toggle="modal" data-bs-target="#exampleModal15">
 <img src="assets/images/dir1/dir11/dir115/DSC04314.JPG" class="col-12 m-0 p-0">
</button>
      </div>
<div class="modal fade" id="exampleModal10" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel00">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
      </div>
      <div class="modal-body"><img src="assets/images/dir1/dir11/dir115/DSC04207.JPG" class="col-12 g-0"></div>
      </div>
  </div>
</div>
<div class="modal fade" id="exampleModal11" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel01">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
      </div>
      <div class="modal-body"><img src="assets/images/dir1/dir11/dir115/DSC04251.JPG" class="col-12 g-0"></div>
      </div>
  </div>
</div>
<div class="modal fade" id="exampleModal12" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel02">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
      </div>
      <div class="modal-body"><img src="assets/images/dir1/dir11/dir115/DSC04311.JPG" class="col-12 g-0"></div>
      </div>
  </div>
</div>
<div class="modal fade" id="exampleModal13" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel03">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
      </div>
      <div class="modal-body"><img src="assets/images/dir1/dir11/dir115/DSC04312.JPG" class="col-12 g-0"></div>
      </div>
  </div>
</div>
<div class="modal fade" id="exampleModal14">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel04">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
      </div>
      <div class="modal-body"><img src="assets/images/dir1/dir11/dir115/DSC04313.JPG" class="col-12 g-0"></div>
      </div>
  </div>
</div>
<div class="modal fade" id="exampleModal15">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel05">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
      </div>
      <div class="modal-body"><img src="assets/images/dir1/dir11/dir115/DSC04314.JPG" class="col-12 g-0"></div>
      </div>
  </div>
</div>
</div>

