<!-- Ligne 1 -->
<div class="container">
<div class="row g-0">
<button type="button" class="btn btn-light col-2 m-0" data-bs-toggle="modal" data-bs-target="#exampleModal60">
 <img src="assets/images/dir1/dir11/dir115/DSC04341.JPG" class="col-12 m-0 p-0">
</button>
<button type="button" class="btn btn-light col-2 m-0" data-bs-toggle="modal" data-bs-target="#exampleModal61">
 <img src="assets/images/dir1/dir11/dir115/DSC04342.JPG" class="col-12 m-0 p-0">
</button>
      <button type="button" class="btn btn-light col-2" data-bs-toggle="modal" data-bs-target="#exampleModal62">
 <img src="assets/images/dir1/dir11/dir115/DSC04343.JPG" class="col-12 m-0 p-0">
</button>
      <button type="button" class="btn btn-light col-2" data-bs-toggle="modal" data-bs-target="#exampleModal63">
 <img src="assets/images/dir1/dir11/dir115/DSC04344.JPG" class="col-12 m-0 p-0">
</button>
      <button type="button" class="btn btn-light col-2" data-bs-toggle="modal" data-bs-target="#exampleModal64">
 <img src="assets/images/dir1/dir11/dir115/DSC04345.JPG" class="col-12 m-0 p-0">
</button>
      <button type="button" class="btn btn-light col-2" data-bs-toggle="modal" data-bs-target="#exampleModal65">
 <img src="assets/images/dir1/dir11/dir115/DSC04346.JPG" class="col-12 m-0 p-0">
</button>
      </div>
<div class="modal fade" style="transition:  opacity 1.0s ease-in-out;" id="exampleModal60" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
      </div>
      <div class="modal-body"><img src="assets/images/dir1/dir11/dir115/DSC04341.JPG" class="col-12 g-0"></div>
      </div>
  </div>
</div>
<div class="modal fade" style="transition:  opacity 1.0s ease-in-out;" id="exampleModal61" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel01">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
      </div>
      <div class="modal-body"><img src="assets/images/dir1/dir11/dir115/DSC04342.JPG" class="col-12 g-0"></div>
      </div>
  </div>
</div>
<div class="modal fade" style="transition:  opacity 1.0s ease-in-out;" id="exampleModal62" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel02">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
      </div>
      <div class="modal-body"><img src="assets/images/dir1/dir11/dir115/DSC04343.JPG" class="col-12 g-0"></div>
      </div>
  </div>
</div>
<div class="modal fade" style="transition:  opacity 1.0s ease-in-out;"  id="exampleModal63" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel03">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
      </div>
      <div class="modal-body"><img src="assets/images/dir1/dir11/dir115/DSC04344.JPG" class="col-12 g-0"></div>
      </div>
  </div>
</div>
<div class="modal fade" style="transition:  opacity 1.0s ease-in-out;"  id="exampleModal64">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel04">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
      </div>
      <div class="modal-body"><img src="assets/images/dir1/dir11/dir115/DSC04345.JPG" class="col-12 g-0"></div>
      </div>
  </div>
</div>
<div class="modal fade" style="transition:  opacity 1.0s ease-in-out;" id="exampleModal65">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel05">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
      </div>
      <div class="modal-body"><img src="assets/images/dir1/dir11/dir115/DSC04346.JPG" class="col-12 g-0"></div>
      </div>
  </div>
</div>
</div>

