<!-- Ligne 3 -->
<div class="container">
<div class="row g-0">
<button type="button" class="btn btn-light col-2 m-0" data-bs-toggle="modal" data-bs-target="#exampleModal20">
 <img src="assets/images/dir1/dir11/dir115/DSC04315.JPG" class="col-12 m-0 p-0">
</button>
<button type="button" class="btn btn-light col-2 m-0" data-bs-toggle="modal" data-bs-target="#exampleModal21">
 <img src="assets/images/dir1/dir11/dir115/DSC04316.JPG" class="col-12 m-0 p-0">
</button>
      <button type="button" class="btn btn-light col-2" data-bs-toggle="modal" data-bs-target="#exampleModal22">
 <img src="assets/images/dir1/dir11/dir115/DSC04324.JPG" class="col-12 m-0 p-0">
</button>
      <button type="button" class="btn btn-light col-2" data-bs-toggle="modal" data-bs-target="#exampleModal23">
 <img src="assets/images/dir1/dir11/dir115/DSC04325.JPG" class="col-12 m-0 p-0">
</button>
      <button type="button" class="btn btn-light col-2" data-bs-toggle="modal" data-bs-target="#exampleModal24">
 <img src="assets/images/dir1/dir11/dir115/DSC04326.JPG" class="col-12 m-0 p-0">
</button>
      <button type="button" class="btn btn-light col-2" data-bs-toggle="modal" data-bs-target="#exampleModal25">
 <img src="assets/images/dir1/dir11/dir115/DSC04327.JPG" class="col-12 m-0 p-0">
</button>
      </div>
<div class="modal fade" id="exampleModal20" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel00">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
      </div>
      <div class="modal-body"><img src="assets/images/dir1/dir11/dir115/DSC04315.JPG" class="col-12 g-0"></div>
      </div>
  </div>
</div>
<div class="modal fade" id="exampleModal21" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel01">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
      </div>
      <div class="modal-body"><img src="assets/images/dir1/dir11/dir115/DSC04316.JPG" class="col-12 g-0"></div>
      </div>
  </div>
</div>
<div class="modal fade" id="exampleModal22" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel02">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
      </div>
      <div class="modal-body"><img src="assets/images/dir1/dir11/dir115/DSC04324.JPG" class="col-12 g-0"></div>
      </div>
  </div>
</div>
<div class="modal fade" id="exampleModal23" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel03">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
      </div>
      <div class="modal-body"><img src="assets/images/dir1/dir11/dir115/DSC04325.JPG" class="col-12 g-0"></div>
      </div>
  </div>
</div>
<div class="modal fade" id="exampleModal24">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel04">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
      </div>
      <div class="modal-body"><img src="assets/images/dir1/dir11/dir115/DSC04326.JPG" class="col-12 g-0"></div>
      </div>
  </div>
</div>
<div class="modal fade" id="exampleModal25">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel05">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
      </div>
      <div class="modal-body"><img src="assets/images/dir1/dir11/dir115/DSC04327.JPG" class="col-12 g-0"></div>
      </div>
  </div>
</div>
</div>
