<!-- Ligne 1 -->
<div class="container">
<div class="row g-0">
<button type="button" class="btn btn-light col-2 m-0" data-bs-toggle="modal" data-bs-target="#exampleModal50">
 <img src="assets/images/dir1/dir11/dir115/DSC04335.JPG" class="col-12 m-0 p-0">
</button>
<button type="button" class="btn btn-light col-2 m-0" data-bs-toggle="modal" data-bs-target="#exampleModal51">
 <img src="assets/images/dir1/dir11/dir115/DSC04336.JPG" class="col-12 m-0 p-0">
</button>
      <button type="button" class="btn btn-light col-2" data-bs-toggle="modal" data-bs-target="#exampleModal52">
 <img src="assets/images/dir1/dir11/dir115/DSC04337.JPG" class="col-12 m-0 p-0">
</button>
      <button type="button" class="btn btn-light col-2" data-bs-toggle="modal" data-bs-target="#exampleModal53">
 <img src="assets/images/dir1/dir11/dir115/DSC04338.JPG" class="col-12 m-0 p-0">
</button>
      <button type="button" class="btn btn-light col-2" data-bs-toggle="modal" data-bs-target="#exampleModal54">
 <img src="assets/images/dir1/dir11/dir115/DSC04339.JPG" class="col-12 m-0 p-0">
</button>
      <button type="button" class="btn btn-light col-2" data-bs-toggle="modal" data-bs-target="#exampleModal55">
 <img src="assets/images/dir1/dir11/dir115/DSC04340.JPG" class="col-12 m-0 p-0">
</button>
      </div>
<div class="modal fade" style="transition:  opacity 1.0s ease-in-out;" id="exampleModal50" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
      </div>
      <div class="modal-body"><img src="assets/images/dir1/dir11/dir115/DSC04335.JPG" class="col-12 g-0"></div>
      </div>
  </div>
</div>
<div class="modal fade" style="transition:  opacity 1.0s ease-in-out;" id="exampleModal51" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel01">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
      </div>
      <div class="modal-body"><img src="assets/images/dir1/dir11/dir115/DSC04336.JPG" class="col-12 g-0"></div>
      </div>
  </div>
</div>
<div class="modal fade" style="transition:  opacity 1.0s ease-in-out;" id="exampleModal52" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel02">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
      </div>
      <div class="modal-body"><img src="assets/images/dir1/dir11/dir115/DSC04337.JPG" class="col-12 g-0"></div>
      </div>
  </div>
</div>
<div class="modal fade" style="transition:  opacity 1.0s ease-in-out;"  id="exampleModal53" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel03">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
      </div>
      <div class="modal-body"><img src="assets/images/dir1/dir11/dir115/DSC04338.JPG" class="col-12 g-0"></div>
      </div>
  </div>
</div>
<div class="modal fade" style="transition:  opacity 1.0s ease-in-out;"  id="exampleModal54">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel04">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
      </div>
      <div class="modal-body"><img src="assets/images/dir1/dir11/dir115/DSC04339.JPG" class="col-12 g-0"></div>
      </div>
  </div>
</div>
<div class="modal fade" style="transition:  opacity 1.0s ease-in-out;" id="exampleModal55">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel05">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
      </div>
      <div class="modal-body"><img src="assets/images/dir1/dir11/dir115/DSC04340.JPG" class="col-12 g-0"></div>
      </div>
  </div>
</div>
</div>

